src/main/resources/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/soap_demo"
           targetNamespace="http://example.com/soap_demo"
           elementFormDefault="qualified">

    <!-- Customer type -->
    <xs:complexType name="customer">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- getCustomerRequest -->
    <xs:element name="getCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getCustomerResponse -->
    <xs:element name="getCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getAllCustomersRequest -->
    <xs:element name="getAllCustomersRequest" type="xs:anyType"/>

    <!-- getAllCustomersResponse -->
    <xs:element name="getAllCustomersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customers" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
